NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_API_DOCS_URL=http://localhost:4000/api/docs
NEXT_PUBLIC_MVP_URL=/sistema
NEXT_PUBLIC_FORMULARIO_VALIDACAO_URL=https://docs.google.com/forms/d/e/1FAIpQLSfsX2KAt-usKDsvfRZ2zAClX_Sa9IzO31eJCtXft-KeTLkujQ/viewform?usp=header
